.title {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

img {
    height: auto;
    width: 400px;
}

.section {
    color: white;
    background-color: black;
}