.title {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

img {
    height: auto;
    width: 400px;
}

.section {
    color: white;
    background-color: black;
}

.menu {
    display: flex;
    list-style: none;
    border: 2px solid black;
    padding: .5em;
}

.menu-item {
    display: block;
    border: 2px solid red;
    padding: 5em;
    margin: 1em auto;
}